body {
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #444;
}

nav button {
  margin: 5px;
  padding: 8px 18px;
  background: #222;
  color: white;
  border: 1px solid #444;
  border-radius: 6px;
  cursor: pointer;
}

nav button:hover {
  background: #333;
}

.fav-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 10px;
}

.empty {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  opacity: 0.7;
}

.fav-item {
  display: flex;
  background: #141414;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #333;
  align-items: center;
}

.fav-left img {
  width: 120px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}

.fav-middle {
  flex: 1;
  padding-left: 20px;
}

.price {
  font-size: 20px;
  margin-top: 6px;
  color: gold;
}

.remove-btn {
  padding: 10px 16px;
  background: #550000;
  color: white;
  border: 1px solid #aa0000;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.remove-btn:hover {
  background: #770000;
}
